body{
    margin: 0%;
    padding: 0;
    background-color:  #f0fdf4;
    color: #0f172a; /* Dark navy text */
    font-family: sans-serif;
}

.head-contanier{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #16a34a, #bbf7d0, #f0fdf4);
    color: #0f172a;
    text-align: center;
}
.head-container h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-family: 'DM Serif Display', serif;
}

.my-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
}

.navbar{
    display: flex;
    margin-top: 0%;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    justify-content: center;
}
.container{
     background-color: #16a34a;;
     height: 20px;
}
.bgimg {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.content {
    font-size: 1rem;
    text-align: justify;
}
h2{
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.course-card {
    width: 220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    background-color: #f9f9f9;
}

.course-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.course-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.course-card p {
    font-size: 0.95rem;
    color: #333;
}

.my-footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    font-size: 0.9rem;
}